<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Navigation Bar</title>
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <!-- Vertical Navigation Bar -->

    <nav class="menu">
        <ul class="menu-box">
            <li class="menu-box-item">
                <span>
                    <i class="fas fa-home"></i>
                </span>
                <a href="#">صفحه اصلی</a>
            </li>
            <li class="menu-box-item">
                <span>
                    <i class="fas fa-mobile-android-alt"></i>
                </span>
                <a href="#">تماس با ما</a>
            </li>
            <li class="menu-box-item">
                <span>
                    <i class="fas fa-users"></i>
                </span>
                <a href="#">درباره ما</a>
            </li>
            <li class="menu-box-item">
                <span>
                    <i class="fas fa-headset"></i>
                </span>
                <a href="#">پشتیبانی</a>
            </li>
        </ul>
    </nav>

    <!-- End -->
</body>
</html>