@import "base";

.menu {
    position: fixed;
    left: 0;
    top: 35%;

    &-box {
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            position: relative;
            cursor: pointer;

            span {
                @extend %center;
                color: #fff;
                background: $mainColor;
                font-size: 1.8rem;
                width: $leftText;
                height: 40px;
                z-index: 1;
                transition: all 0.6s;
            }

            p {
                @extend %center;
                background: transparent;
                border: 2px solid darken($mainColor, 15%);
                border-radius: 0 5px 5px 0;
                border-left: unset;
                width: 120px;
                height: 40px;
                left: -80px;
                position: absolute;
                transition: all 0.6s;
                font-weight: 900;
            }

            &:hover {
                p {
                    left: $leftText;
                }

                span {
                    background-color: darken($mainColor, 15%);
                }
            }            
        }
    }
}