@import "base";

.menu {
    position: fixed;
    left: 0;
    top: 35%;

    &-box {
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            position: relative;
            cursor: pointer;

            span {
                @extend %center;
                color: #fff;
                background: $mainColor;
                font-size: 1.8rem;
                width: $width;
                height: $height;
                z-index: 1;
                transition: all 0.6s;
            }

            a {
                @extend %center;
                background: lighten($mainColor, 40%);
                width: 120px;
                height: $height;
                left: -80px;
                position: absolute;
                transition: all 0.6s;
                font-weight: 900;
                text-decoration: none;
                color: #000;
            }

            &:hover {
                a {
                    left: $width;
                }

                span {
                    background-color: darken($mainColor, 15%);
                }
            }            
        }
    }
}